{% extends 'admin/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Admin Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Users</h5>
                    <p class="card-text">View and manage registered users.</p>
                    <a href="{{ url_for('admin.users') }}" class="btn btn-primary">Go to Users</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Shows</h5>
                    <p class="card-text">View and manage shows and venues.</p>
                    <a href="{{ url_for('admin.shows') }}" class="btn btn-primary">Go to Shows</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
