{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to the Ticket Booking Platform!</h1>
  <p class="lead">Browse venues and shows, and book tickets with ease.</p>
  <hr class="my-4">
  <p>Get started by exploring our list of venues and shows.</p>
  <a class="btn btn-primary btn-lg" href="/venues" role="button">Venues</a>
  <a class="btn btn-primary btn-lg" href="/shows" role="button">Shows</a>
</div>
{% endblock %}

